/*********************
BREAKPOINTS
*********************/
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  list-style-type: none;
}

body {
  max-width: 1440px;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (min-width: 1441px) {
  body {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
  }
}

h1 {
  color: #D3573C;
  font-size: 2.4em;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.photographer__header {
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.photographer__nav__img {
  width: 12.5rem;
}
@media (min-width: 1024px) {
  .photographer__nav__img {
    margin-left: 5%;
  }
}

.profil {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}
.profil__template {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .profil__template {
    background: #fafafa;
    padding: 2rem;
    margin: 0 55px;
  }
}
@media (min-width: 1340px) {
  .profil__template {
    margin: 0 55px;
  }
}
.profil__name {
  margin: 0;
  color: #D3573C;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 2.9rem;
}
@media (min-width: 1024px) {
  .profil__name {
    margin-bottom: 1rem;
    font-size: 50px;
    font-weight: 400;
  }
}
.profil__location {
  margin: 0;
  font-size: 0.9em;
  color: #901C1C;
}
@media (min-width: 1024px) {
  .profil__location {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.profil__portrait {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .profil__portrait {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 1340px) {
  .profil__portrait {
    height: 200px;
    width: 200px;
  }
}
.profil__tagline {
  margin: 0.5rem 0rem;
  color: #757575;
  font-size: 0.8rem;
}
.profil__contact {
  background: #901C1C;
  width: 170px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  border: none;
  border-radius: 5px;
  bottom: 28px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .profil__contact {
    height: 40px;
    width: 150px;
    position: relative;
    z-index: 0;
    top: -50px;
    margin: 0;
    left: 0;
  }
}
@media (min-width: 1340px) {
  .profil__contact {
    height: 55px;
    position: relative;
    top: -50px;
    left: -120px;
    margin: 0;
  }
}
.profil__tags {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}
.profil__links {
  border: 0.5px solid #C4C4C4;
  border-radius: 0.6875rem;
  margin-right: 0.2rem;
  padding: 0.0625rem 0.375rem;
  color: #901C1C;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.2s;
}
@media (min-width: 1024px) {
  .profil__links {
    font-size: 1.125rem;
  }
}

.dropdown {
  display: none;
}
@media (min-width: 1024px) {
  .dropdown {
    display: flex;
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  .dropdown__text {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.5625rem;
  }
  .dropdown__button {
    align-items: center;
    background: #901C1C;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    position: relative;
    width: 10rem;
  }
}
@media (min-width: 1024px) and (min-width: 1340px) {
  .dropdown__button {
    top: -0.3rem;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .dropdown__hidden {
    background: #901C1C;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    color: #fff;
    display: none;
    padding: 0;
    position: relative;
    width: 10rem;
    z-index: 10;
    top: -4.8rem;
  }
  .dropdown__hidden :nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .dropdown__filter {
    padding: 1.25rem;
    width: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #901C1C;
  }
  .dropdown__filter :nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .dropdown__x {
    margin: auto;
    color: #FFFFFF;
    width: 9rem;
    height: 1px;
    background-color: #FFFFFF;
  }
}
@media (min-width: 1024px) {
  .dropdown__open {
    position: relative;
    top: -30px;
    left: 135px;
  }
}
@media (min-width: 1024px) and (min-width: 1340px) {
  .dropdown__open {
    top: -35px;
    left: 120px;
  }
}
@media (min-width: 1024px) {
  .dropdown__close {
    position: relative;
    left: 1rem;
  }
}
@media (min-width: 1024px) {
  .dropdown__close, .dropdown__open {
    color: #fff;
  }
}

.form {
  display: none;
  border: none;
  border-radius: 0.3rem;
  display: none;
  left: 50%;
  max-width: 42rem;
  min-width: 18.75rem;
  position: absolute;
  right: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 11;
}
.form__contact {
  background: #DB8876;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.2rem 2.2rem;
}
.form__header {
  display: flex;
  justify-content: space-between;
  margin: -0.3rem 0.3rem 1.25rem 0;
}
.form__header :nth-child(1) {
  order: 2;
}
.form__header :nth-child(2) {
  order: 1;
}
.form__close {
  background: none;
  border: none;
}
.form__close .fas {
  color: #fff;
  font-size: 2em;
  margin-top: 0.6rem;
}
.form__header--title {
  color: black !important;
  font-size: 2.2em;
  font-weight: 400;
  margin: 1.4rem 0;
}
.form__input {
  display: flex;
  flex-direction: column;
}
.form__data {
  border: 2px solid #e54858;
  border-radius: 0.3rem;
  font-size: 1.2em;
  padding: 0.3rem;
}
.form__error {
  color: #901C1C;
  font-size: 1em;
  margin-bottom: 7px;
  margin-top: 7px;
  text-align: left;
  transition: 0.3s;
}
.form__submit {
  border-radius: 0.3rem;
  align-self: center;
  background: #901c1c;
  color: #fff;
  font-size: 1em;
  height: 2.2rem;
  margin-top: 1.6rem;
  width: 10.6rem;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.8125rem 0;
  padding: 0 1.25rem;
}
@media (min-width: 1024px) {
  .portfolio {
    padding: 0;
  }
}
.portfolio__article {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 0 0.625rem;
}
@media (max-width: 350px) {
  .portfolio__article {
    width: 300px;
  }
}
.portfolio__media {
  background-color: #C4C4C4;
  border-radius: 0.3125rem;
  height: 11.875rem;
  object-fit: cover;
  width: 20.9375rem;
}
@media (max-width: 350px) {
  .portfolio__media {
    width: 300px;
  }
}
@media (min-width: 1340px) {
  .portfolio__media {
    height: 300px;
    width: 350px;
  }
}
.portfolio__text {
  color: #901C1C !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__title {
  color: #901C1C !important;
  width: 14.0625rem;
  margin: 0.83em 0em;
  font-size: 0.84em;
  font-weight: 400;
  line-height: 1.1rem;
}
.portfolio__likes {
  position: relative;
  right: -1.8rem;
}
@media (max-width: 350px) {
  .portfolio__likes {
    right: 0;
  }
}

.likes {
  display: none;
}
@media (min-width: 1024px) {
  .likes {
    width: 18rem;
    height: 4.375rem;
    padding: 0 2.1875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3125rem;
    position: fixed;
    right: 2.5rem;
    bottom: 0;
    background: #DB8876;
    font-size: 1.2em;
    font-weight: 500;
  }
}
.likes__heart {
  position: absolute;
  left: 4.8rem;
}

.slider {
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
@media (min-width: 1340px) {
  .slider {
    height: 150%;
  }
}
.slider__close {
  color: #901C1C;
  position: relative;
  left: 9.3rem;
  top: 1.7rem;
  font-size: 1.7rem;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .slider__close {
    left: 28rem;
  }
}
@media (min-width: 1340px) {
  .slider__close {
    left: 35rem;
  }
}
.slider__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15rem 0;
}
@media (min-width: 1024px) {
  .slider__media {
    margin: 5rem 0;
  }
}
.slider__image, .slider__video {
  width: 275px;
  height: 228px;
  object-fit: cover;
  border-radius: 0.3125rem;
}
@media (min-width: 1024px) {
  .slider__image, .slider__video {
    width: 800px;
    height: 600px;
  }
}
@media (min-width: 1340px) {
  .slider__image, .slider__video {
    width: 1050px;
    height: 900px;
  }
}
.slider__video {
  display: none;
}
.slider__buttons {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 10rem;
}
.slider__buttons a span {
  color: #901C1C;
}
@media (min-width: 1024px) {
  .slider__buttons {
    width: 900px;
    bottom: 22rem;
  }
}
@media (min-width: 1340px) {
  .slider__buttons {
    width: 1150px;
    bottom: 30rem;
  }
}
.slider__text {
  width: 74%;
  margin-top: 0.5rem;
  color: #901C1C;
}
@media (min-width: 1024px) {
  .slider__text {
    width: 79%;
  }
}
@media (min-width: 1340px) {
  .slider__text {
    width: 73%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  list-style-type: none;
}

body {
  max-width: 1440px;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (min-width: 1441px) {
  body {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
  }
}

h1 {
  color: #901C1C;
  font-size: 14px;
  width: fit-content;
}

h2 {
  color: #D3573C;
  font-size: 2.25rem;
  margin-bottom: 0.7rem;
  margin-top: 1.4rem;
  font-weight: 400;
  line-height: 2.925rem;
}

a {
  text-decoration: none;
}

.nav {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
  overflow: hidden;
}
.nav__logo img {
  width: 8rem;
}
.nav__filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  text-align: center;
}
@media (min-width: 1340px) {
  .nav__filters {
    top: 22px;
  }
}
.nav__filters a {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: #901C1C;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0 0.1875rem;
  padding: 0.0625rem 0.375rem;
  text-decoration: none;
  transition: all 0.2s;
}
.nav__filters a:hover, .nav__filters a.active {
  color: white;
  background-color: #901C1C;
}
.nav__title h1 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 1024px) {
  .nav__title h1 {
    font-size: 2.25rem !important;
    line-height: 2.925rem;
  }
}

.photographers {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  margin-top: 7rem;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  margin-top: 7rem;
  padding: 0;
  width: 100%;
}
.photographers__introduction {
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  width: 22rem;
}
.photographers__portrait {
  background-color: #C4C4C4;
  border-radius: 50%;
  box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.43);
  height: 12.5rem;
  margin: 0 auto;
  object-fit: cover;
  overflow: hidden;
  width: 12.5rem;
}
.photographers__location {
  color: #901C1C;
  margin: 0.2rem;
}
.photographers__price {
  color: #757575;
}
.photographers__tags {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.photographers__links {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: #901C1C;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0 0.1875rem;
  padding: 0.0625rem 0.375rem;
  text-decoration: none;
  transition: all 0.2s;
}

/*# sourceMappingURL=style.css.map */
