@import './utils/mixins';
@import './utils/vars';
@import './pages/_photographers';
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);

@include general-style;

.nav {
    @include header-style;

    &__logo img {
        width: 8rem;
    }

    &__filters ul {

        @include breakpoint(desktop) { 
            top:22px;
        }

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 90px;
        text-align: center;

        li {
            @include links-template;
        }
    }
}

.photographers {
    @include photographer-template;

    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 7rem;
    padding: 0;
    width: 100%;

    &__introduction {
        margin: .5rem;
        padding: .3rem;
        text-align: center;
        width: 22rem;
    }

    &__portrait {
        background-color: #59ce26;
        border-radius: 50%;
        box-shadow: 0 0 0.8rem rgb(134 134 134 / 43%);
        height: 12.5rem;
        margin: 0 auto;
        object-fit: cover;
        overflow: hidden;
        width: 12.5rem;
    }

    &__location {
        color: $theme-color-red;
        margin: .2rem;
    }

    &__price {
        color: #757575;
    }

    &__tags {
        display: flex;
        justify-content: center;
        margin-top: .5rem;
    }

    &__links {
        @include links-template;
    }
}