@include general-style-profil;

.photographer__header {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.photographer__nav{
    &__img {
       width: 12.5rem;
    }
}
 

.profil {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    &__template {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__location {
        color: $theme-color-red;
        font-size: .9em;
        margin: 0;
    }

    &__portrait {
        border-radius: 50%;
        height: 100px;
        object-fit: cover;
        width: 100px;
    }
    &__tagline {
        color: #525252;
        font-size: .9em;
        margin: 0;
    }
    &__contact {
        background: $theme-color-red;
        border: none;
        border-radius: 5px;
        bottom: 28px;
        color: #fff;
        cursor: pointer;
        font-size: 1em;
        font-weight: 500;
        height: 35px;
        position: fixed;
        width: 170px;
        @media(max-width: 1200px) {
            left: 0;
            margin-left: auto;
            margin-right: auto;
            right: 0;
            z-index: 1;
        }
    }
    &__tags {
        margin: 1rem 0rem;
        display: flex;
        flex-wrap: wrap;
    }
    &__links {
        border: .5px solid #C4C4C4;
        border-radius: .6875rem;
        color: $theme-color-red;
        font-size: 12px;
        margin-right:0.2rem;
        padding: .0625rem .375rem;
        text-decoration: none;
        transition: all .2s;
    }

}
.dropdown {
    display: none;
}

.form {
    display: none;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.8125rem 0;
    padding: 0 1.25rem;

    &__article {
        font-size: 1.1em;
        font-weight: 500;
        margin: 0 0 .625rem;
    }

    &__media {
        border-radius: .3125rem;
        height: 11.875rem;
        object-fit: cover;
        width: 20.9375rem;
    }

    &__text {
        color: $theme-color-red;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0.83em 0em;
        width: 14.0625rem;
        font-size: 1em;
        font-weight: 400;
    }

}
.slider {
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    position: absolute;
    top:0;
    left: 0;
    background-color: #fff;

    &__close {
        color: $theme-color-red;
        font-size: 1.7rem;
        font-weight: bold;
    }
    &__media {
        margin: 50%;
        display: flex;
        flex-direction: column;

    }
    &__image, &__video {
        width: 289px;
        height: 248px;
    }
    &__video {
        display: none;
    }
    &__buttons {
        width: 320px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__text {
        color: $theme-color-red;
    }
}