@mixin general-style-home {
    * {
        margin: 0;
        padding: 0;
        font-family: $font;
        list-style-type: none;
    }

    body {
        max-width: 1440px;
        @include breakpoint(wide) {
            margin-left: 0;
            margin-right: 0;
            margin: auto;
        }
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h1 {
        color: $theme-color-red;
        font-size: 14px;
        width: fit-content;
    }
    h2 {
        color: $theme-color-brown;
        font-size: 1.7rem;
        margin-bottom: .7rem;
        margin-top: 1.4rem;
    }

    a {
        text-decoration: none;
    }
}
@mixin general-style-profil {
    * {
        margin: 0;
        padding: 0;
        font-family: $font;
        list-style-type: none;
    }

    body {
        max-width: 1440px;
        @include breakpoint(wide) {
            margin-left: 0;
            margin-right: 0;
            margin: auto;
        }
        margin-left: 2rem;
        margin-right: 2rem;
    }

   h1 {
        color: #D3573C;
        font-size: 2.4em;
        font-weight: 400;
    }


    a {
        text-decoration: none;
    }
}

@mixin header-style {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2rem;
    overflow: hidden;
}

@mixin photographer-template {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 7rem;
    padding: 0;
    width: 100%;
}
@mixin links-template{
    border: .5px solid #C4C4C4;
    border-radius: 11px;
    color: $theme-color-red;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0 .1875rem;
    padding: .0625rem .375rem;
    text-decoration: none;
    transition: all .2s;
}
/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point==wide {
        @media (min-width:1441px) {
            @content ;
        }
    }
    @if $point==desktop {
        @media (min-width:1340px) {
            @content ;
        }
    }

    @else if $point==laptop {
        @media (min-width: 1024px) {
            @content ;
        }
    }

    @else if $point==tablet {
        @media (min-width: 768px) {
            @content ;
        }
    }

    @else if $point==phablet {
        @media (min-width: 580px) {
            @content ;
        }
    }

    @else if $point==mobilemed {
        @media (min-width: 375px) {
            @content ;
        }
    }
}